.modalCompanyName {
    height: 500px;
    width: 300px;
    position: fixed;
    top: 10%;
    left: 50%;
    background-color: rgb(221, 175, 175);
}

.topModal {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 70px;
}

.ex-modal {
    margin-top: 18px;
}

.ex-modal:hover {
    cursor: pointer;
}

.checkbox {
    width: 30px;
    margin: 0;
}

.name {
    width: 180px;
}

table {
    border-collapse: collapse;
    margin: 50px;
}

table th {
    border: 1px solid black;  
    height: 50px; 
    background-color: rgb(238, 194, 194);
}

table td {
    border: 1px solid black;  
    height: 50px; 
}